extends layout

block content
  h1= title
  h3 Hi HN! Looks like NameCheap is ratelimiting me, so feel free to play but be aware that it'll be kinda broken
  p Type a name and hit enter
  form(id='checkerform', action='#')
    input(type="text", id="name")
    span.throbber
    span.status
  div.results

block foot
  script(src='/js/check.js', type='text/javascript')
