extends layout

block content
  h1= title
  p Type a name and hit enter
  form(id='checkerform', action='#')
    input(type="text", id="name")
    span.throbber
    span.status
  div.results

block foot
  script(src='/js/check.js', type='text/javascript')
