doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/three-quarters.css')
  body
    a(href='https://github.com/thefinn93/domain-availability', target='_blank')
      img(src='images/ribbon.png').ribbon
    block content
    script(src='/vendor/jquery/jquery.min.js', type='text/javascript')
    script(src='/vendor/q/q.js', type='text/javascript')
    if config && config.dsn
      script(src='/vendor/raven-js/raven.min.js', type='text/javascript')
    script(src='/settings.js', type='text/javascript')
    block foot
