body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height: 3;
}

a {
  color: #000;
}

input[type=text] {
  height: 32px;
}

.throbber {
  margin-left: 20px;
  margin-right: 10px;
}

.tld {
  border-radius: 5px;
  margin: 12px;
  padding: 5px;
}

.unknown {
  background-color: #777;
}

.available {
  background-color: #5cb85c;
}

.unavailable {
  background-color: #d9534f;
}
